extends components/layout.jade

block content

  div(class="row clearfix")
    div(class="text-area")
      div(class="project-title")
        h4 Graphisme
        h1 Cartographie

  div(class="row clearfix")
    div(class="text-area")
      h3 Cartographie réalisée pour La Cambre avec Illustrator (Ai)
      p 
        | Réalisation d'une cartographie dans le cadre du cours d'Art Numérique pour l'apprentissage du logiciel Illustrator.

  div(class="row clearfix")
    div(class="image-area full")
      img(src="img-content/cartographie/Carto00.jpg" alt="Project image")

  div(class="row clearfix")
    div(class="text-area")
      p 
        | Ici, cartographie poétique et imaginaire concernant la façon dont les pigeons picorent; 
        br
        | Auraient ils inspiré le Pac-Man?
        br
        | “Pac-Man est un pigeon
        br
        | Et il est japonais” traduit du Nippon.
      
  div(class="separator")
  include components/projects.jade
