extends components/layout.jade

block content

  // TEXT AREA
  // A propos
  div(class="row clearfix")
    div(class="text-area")
      h3 N'hésitez pas à me contacter
      p 
        | Email: a.bretons@gmail.com
        br
        | Mobile: 06.46.81.74.34
