extends components/layout.jade

block content

  // TEXT AREA
  // A propos
  div(class="row clearfix")
    div(class="text-area")
      h3 N'hésitez pas à me contacter
      p 
        | Je cherche un poste d'assistant Designer Produit en apprentissage afin d'intégrer 
        strong L'École de design Nantes Atlantique 
        | en Design Produit.
      p 
        | Email: 
        a(href="mailto:a.bretons@gmail.com" class="link") a.bretons@gmail.com
        br
        | Mobile: 
        a(href="tel:+33646817434" class="link") 06.46.81.74.34
