extends components/layout.jade

block content

  // Experiences professionnelles
  div(class="row clearfix")
    // Title
    div(class="text-area")
      div(class="project-title")
        h1 Mes expériences professionnelles
    // Entry
    div(class="text-area")
      h2 Assistant Designer chez Ora-ïto
      h4 Juin 2014, Paris
      p Siquis enim militarium vel honoratorum aut nobilis inter suos rumore tenus esset insimulatus fovisse partes hostiles, iniecto onere catenarum in modum beluae trahebatur et inimico urgente vel nullo, quasi sufficiente hoc solo, quod nominatus esset aut delatus aut postulatus.
    // Entry
    div(class="text-area")
      h2 Assistant Designer chez Ora-ïto
      h4 Juin 2014, Paris
      p Siquis enim militarium vel honoratorum aut nobilis inter suos rumore tenus esset insimulatus fovisse partes hostiles, iniecto onere catenarum in modum beluae trahebatur et inimico urgente vel nullo, quasi sufficiente hoc solo, quod nominatus esset aut delatus aut postulatus.

  // Education
  div(class="row clearfix")
    // Title
    div(class="text-area")
      div(class="project-title")
        h1 Mon parcours scolaire
    // Entry
    div(class="text-area")
      h2 Design Industriel à La Cambre
      h4 À partir de Septembre 2016, Bruxelles
      p 
        | • Création d’une famille de 3 volumes en plâtre.
        br
        | • Réalisation des formes fondamentales en bois puis en métal.
        br
        | • Conception d’une machine à transformer la matière.
        br
        | • Concevoir les pictogrammes de 3 expressions d’une personne donnée.
    // Entry
    div(class="text-area")
      h2 Assistant Designer chez Ora-ïto
      h4 Juin 2014, Paris
      p Siquis enim militarium vel honoratorum aut nobilis inter suos rumore tenus esset insimulatus fovisse partes hostiles, iniecto onere catenarum in modum beluae trahebatur et inimico urgente vel nullo, quasi sufficiente hoc solo, quod nominatus esset aut delatus aut postulatus.

  // Recherche
  div(class="row clearfix")
    // Title
    div(class="text-area")
      div(class="project-title")
        h1 
          | Je cherche un poste d'
          strong assistant Designer Produit
          |  en alternance.
