extends components/layout.jade

block content

  // Recherche
  div(class="row clearfix")
    // Title
    div(class="text-area")
      div(class="project-title")
        h1 
        | Je cherche un poste d'
        strong assistant Designer Produit
        |  en alternance.

  // Education
  div(class="row clearfix")
    // Title
    div(class="text-area")
      div(class="project-title")
        h1 Mon parcours scolaire
    // Entry
    div(class="text-area")
      h2 Design Industriel à La Cambre
      h4 De Septembre 2015 à Juillet 2016, à Bruxelles
      p 
        | • Création d’une famille de 3 volumes en plâtre.
        br
        | • Réalisation des formes fondamentales en bois puis en métal.
        br
        | • Conception d’une machine à transformer la matière.
        br
        | • Conception de pictogrammes de 3 expressions d’une personne donnée.
    // Entry
    div(class="text-area")
      h2 Baccalauréat des Arts Appliqués à Albert De Mun
      h4 De Septembre 2010 à Juillet 2013, à Paris

  // Experiences professionnelles
  div(class="row clearfix")
    // Title
    div(class="text-area")
      div(class="project-title")
        h1 Mes expériences professionnelles
    // Entry
    div(class="text-area")
      h2 Assistant Designer chez Ora-ïto
      h4 En Juin 2010, à Paris
      p Réalisation d’un luminaire pour Alinéa.
      
    div(class="text-area")
      h2 Serveur en Brasserie au Rallye
      h4 À partir de Juin 2015, à Paris
      
    div(class="text-area")
      h2 Animateur en centre de loisir à Le Petit Poucet et Les Petits Diables
      h4 Juin 2014, à Paris et à Brest
      
  // Skils
  div(class="row clearfix")
    // Title
    div(class="text-area")
      div(class="project-title")
        h1 Mes compétences
      // Entry
      div(class="text-area")
        h2 Montage
        p 
          | • iMovie
          br
          | • Adobe Première
      // Entry
      div(class="text-area")
        h2 Image/Vectoriel
        p 
          | • Photoshop
          br
          | • Illustrator
          br
          | • InDesign
          br
          | • Sketchup
      // Entry
      div(class="text-area")
        h2 Langues
        p 
          | • Français (langue maternelle)
          br
          | • Anglais (courant)
          br
          | • Italien (bases)
          br
          | • Espagnol (bases)
          
  // Interests
  div(class="row clearfix")
    // Title
    div(class="text-area")
      div(class="project-title")
        h1 Mes centre d'intérets
      // Entry
      div(class="text-area")
        p 
          | • Animateur BAFA spécialisation Neige et Montage
          br
          | • Photographie argentique
          br
          | • Surf, Foot, Badmington
          br
          | • Evenementiel
