extends components/layout.jade

block content

  div(class="row clearfix")
    div(class="text-area")
      div(class="project-title")
        h4 Art
        h1 Dessin technique
        
  div(class="row clearfix")
    div(class="image-area full")
      img(src="img-content/dessintechnique/Dessin02.jpg" alt="Project image")
    div(class="image-area full")
      img(src="img-content/dessintechnique/Dessin03.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/dessintechnique/Dessin00.jpg" alt="Project image") 
    div(class="image-area half")
      img(src="img-content/dessintechnique/Dessin01.jpg" alt="Project image")
    div(class="image-area full")
      img(src="img-content/dessintechnique/Dessin04.jpg" alt="Project image")
    div(class="image-area full")
      img(src="img-content/dessintechnique/Dessin05.jpg" alt="Project image")
    div(class="image-area full")
      img(src="img-content/dessintechnique/Dessin06.jpg" alt="Project image")
