extends components/layout.jade

block content

  div(class="row clearfix")
    div(class="text-area")
      div(class="project-title")
        h4 Graphisme
        h1 Festival Dour

  div(class="row clearfix")
    div(class="text-area")
      h3 Réponse au concours du Festival Dour

  div(class="row clearfix")
    div(class="image-area full")
      img(src="img-content/dour/Dour01.jpg" alt="Project image")

  div(class="row clearfix")
    div(class="text-area")
      p 
        | Participation n°1 au concours du nouveau logo du Festival Dour, en Belgique.
        | Planche contact du visuel, et produits dérivés du Festival DOUR.
        | Logo/motif pour mug et tee-shirt.
        | Contraintes des couleurs 184C, 283C et Reflex Blue PANTONE COATED.

  div(class="row clearfix")
    div(class="image-area half")
      img(src="img-content/dour/Dour02.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/dour/Dour03.jpg" alt="Project image")

  div(class="row clearfix")
    div(class="text-area")
      p 
        | Participation n°2 au concours du nouveau logo du Festival Dour, en Belgique.
        | Une approche d’avantage dans la sonorité de la scène électronique.
        | Contraintes des couleurs 184C, 283C et Reflex Blue PANTONE COATED

  div(class="separator")
  include components/projects.jade
