extends components/layout.jade

block content

  div(class="row clearfix")
    div(class="text-area")
      div(class="project-title")
        h4 Art
        h1 Formes en bois

  div(class="row clearfix")
    div(class="text-area")
      h3 Projet réalisé pour La Cambre
      p 
        | Formes fondamentales en bois.
        br
        | Dans le cadre du cours de l’atelier de La Cambre, nous avons dû concevoir les quatre formes fondamentales en bois en passant par la phase recherche en mousse. Les concernés étant le tétraèdre, la sphère, le cube et le cylindre.

  div(class="row clearfix")
    div(class="image-area half")
      img(src="img-content/formes/image00.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/formes/image01.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/formes/image02.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/formes/image03.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/formes/image04.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/formes/image05.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/formes/image06.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/formes/image07.jpg" alt="Project image")
      
  div(class="separator")
  include components/projects.jade
