extends components/layout.jade

block content

  div(class="row clearfix")
    div(class="text-area")
      div(class="project-title")
        h4 Design produit
        h1 L'ICESS

  div(class="row clearfix")
    div(class="text-area")
      h3 Coque de protection pour ordinateur
      p 
        | L'iCESS est plus qu'un accessoire. En effet cette coque de protection est un véritable exo-squelette, il vous accompagnera tout au long de votre journée et jusqu'au bout de la nuit.

  div(class="row clearfix")
    div(class="image-area full")
      img(src="img-content/icess/image00.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/icess/image01.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/icess/image02.jpg" alt="Project image")
      
  div(class="row clearfix")
    div(class="text-area")
      p 
        | Cette coque est conçu en carbone pour sa forte résistance et sa légèreté. La partie inférieure est pensée tel un socle sur lequel l'ordinateur devient mobile, ainsi, le disque central sur lequel il repose lui permet de s'orienter à 360°.

  div(class="row clearfix")
    div(class="image-area full")
      img(src="img-content/icess/image03.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/icess/image04.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/icess/image05.jpg" alt="Project image")
      
  div(class="row clearfix")
    div(class="text-area")
      p 
        | Sa base est un module divisé en deux parties de trois lattes chacune afin de rehausser l'ordinateur et ainsi gagner de l'espace et créer un rangement alternatif lors de son repli. De plus, il s'aura s'adapter à l'inclinaison de votre tête lors de vos insomnies cinématographiques, et soulagera alors votre bras d'une lourde tête.

  div(class="row clearfix")
    div(class="image-area full")
      img(src="img-content/icess/image09.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/icess/image06.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/icess/image08.jpg" alt="Project image")

      
  div(class="separator")
  include components/projects.jade
