extends components/layout.jade

block content

  // TEXT AREA
  
  // A propos
  div(class="row clearfix")
    div(class="text-area")
      h3 A propos
      p Né dans une famille d'Artistes, je me suis pris de passion pour le Design dès l'enfance. Après diverses expériences lors de mon cursus scolaire, j'ai décidé de me consacrer particulièrement au Design Produit. J'aime penser les objets du quotidient comme des oeuvres d'art, parfois simple, parfois complexe, mais toujours sourcent de questionnement. 
  include components/projects.jade
