extends components/layout.jade

block content

  // TEXT AREA

  // A propos
  div(class="row clearfix")
    div(class="text-area")
      h3 A propos
      p 
        | “Est Designer celui qui répond à une quelconque problématique par des concpets nouveaux. Non pas en trouvant des solutions, mais en les inventants. L’innovation est primordiale pour parvenir à transcrire une idée en un corps. S’arrêter à l’aspect technique serait une erreur”
        br
        | J.L Domecq

  include components/projects.jade
