extends components/layout.jade

block content

  // TEXT AREA
  
  // A propos
  div(class="row clearfix")
    div(class="text-area")
      h3 A propos
      p Siquis enim militarium vel honoratorum aut nobilis inter suos rumore tenus esset insimulatus fovisse partes hostiles, iniecto onere catenarum in modum beluae trahebatur et inimico urgente vel nullo, quasi sufficiente hoc solo, quod nominatus esset aut delatus aut postulatus, capite vel multatione bonorum aut insulari solitudine damnabatur.
  
  include components/projects.jade
