extends components/layout.jade

block content

  // TEXT AREA

  // A propos
  div(class="row clearfix")
    div(class="text-area")
      h3 A propos
      p 
        | Je viens d’achever une année aux arts déco de Bruxelles, à La Cambre, en design produit et industriel. Pour acquérir une qualification professionnelle (sanctionnée par un diplôme) et poursuivre mes études - en alternance - j’ai choisi d'intégrer l'école de design de Nantes Atlantique, en BTS design produit. 

  include components/projects.jade
