extends components/layout.jade

block content

  div(class="row clearfix")
    div(class="text-area")
      div(class="project-title")
        h4 Design produit
        h1 Lamp One

  div(class="row clearfix")
    div(class="image-area full")
      img(src="img-content/lampone/image01.jpg" alt="Project image" class="full")

  div(class="row clearfix")
    div(class="text-area")
      h3 A propos
      p 
        | Lamp One est un projet de luminaire conçu pour Alinéa. Alors assistant designer produit chez Ora-Ïto fin 2009, j’ai réalisé en 1 mois un luminaire sur la commande du géant de l’ameublement français, Alinéa. Afin de répondre au mieux aux demandes de l’industrie, Lamp One est conçus en un seul patron. Elle est donc adaptable à plusieurs échelles. La tôle galvanisée permet au luminaire une certaine souplesse qui envoûte de sa forme l’espace. Le concept est simple, réduire les coûts et le gaspillage des matériaux dans un processus de production limité à une découpe au laser d’un unique matériaux.

  div(class="row clearfix")
    div(class="image-area full")
      img(src="img-content/lampone/image02.jpg" alt="Project image")
      h5 Conceptualisation 3D, Logiciel Maya
    div(class="image-area full")
      img(src="img-content/lampone/image03.jpg" alt="Project image")
      h5 Conceptualisation 3D, Logiciel Maya
    div(class="image-area full")
      img(src="img-content/lampone/image04.jpg" alt="Project image")
      h5 Mise en scène 3D
    div(class="image-area full")
      img(src="img-content/lampone/image05.jpg" alt="Project image")
      h5 Mise en scène 3D
    div(class="image-area full")
      img(src="img-content/lampone/image06.jpg" alt="Project image")
    div(class="image-area full")
      img(src="img-content/lampone/image07.jpg" alt="Project image")
      
  include components/projects.jade
