extends components/layout.jade

block content

  div(class="row clearfix")
    div(class="text-area")
      div(class="project-title")
        h4 Design produit
        h1 Masque

  div(class="row clearfix")
    div(class="text-area")
      h3 Projet réalisé pour La Cambre
      p 
        | Confectionner un masque avec un maximum de deux matériaux. Ici, tarlatane noir piqué dans un grillage hexagonale métallique.

  div(class="row clearfix")
    div(class="image-area third")
      img(src="img-content/masque/image02.jpg" alt="Project image")
    div(class="image-area third")
      img(src="img-content/masque/image00.jpg" alt="Project image")
    div(class="image-area third")
      img(src="img-content/masque/image01.jpg" alt="Project image")
      
  div(class="separator")
  include components/projects.jade
