extends components/layout.jade

block content

  div(class="row clearfix")
    div(class="text-area")
      div(class="project-title")
        h4 Art
        h1 Photographie
        
  div(class="row clearfix")
    div(class="image-area third")
      img(src="img-content/photographie/Photo01.jpg" alt="Project image")
    div(class="image-area third")
      img(src="img-content/photographie/Photo02.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo03.jpg" alt="Project image")
    div(class="image-area full")
      img(src="img-content/photographie/Photo04.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo05.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo06.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo07.jpg" alt="Project image")  
    div(class="image-area half")
      img(src="img-content/photographie/Photo08.jpg" alt="Project image")  
    div(class="image-area half")
      img(src="img-content/photographie/Photo09.jpg" alt="Project image") 
    div(class="image-area third")
      img(src="img-content/photographie/Photo11.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo12.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo13.jpg" alt="Project image")  
    div(class="image-area half")
      img(src="img-content/photographie/Photo10.jpg" alt="Project image")     
    div(class="image-area half")
      img(src="img-content/photographie/Photo14.jpg" alt="Project image") 
    div(class="image-area full")
      img(src="img-content/photographie/Photo15.jpg" alt="Project image")   
    div(class="image-area half")
      img(src="img-content/photographie/Photo18.jpg" alt="Project image") 
    div(class="image-area half")
      img(src="img-content/photographie/Photo16.jpg" alt="Project image")  
    div(class="image-area full")
      img(src="img-content/photographie/Photo17.jpg" alt="Project image")  
    div(class="image-area full")
      img(src="img-content/photographie/Photo19.jpg" alt="Project image")  
    div(class="image-area half")
      img(src="img-content/photographie/Photo20.jpg" alt="Project image")  
    div(class="image-area half")
      img(src="img-content/photographie/Photo21.jpg" alt="Project image")  
    div(class="image-area full")
      img(src="img-content/photographie/Photo22.jpg" alt="Project image")   
    div(class="image-area full")
      img(src="img-content/photographie/Photo23.jpg" alt="Project image")  
    div(class="image-area half")
      img(src="img-content/photographie/Photo24.jpg" alt="Project image")  
    div(class="image-area full")
      img(src="img-content/photographie/Photo25.jpg" alt="Project image")  
    div(class="image-area half")
      img(src="img-content/photographie/Photo26.jpg" alt="Project image")  
    div(class="image-area half")
      img(src="img-content/photographie/Photo27.jpg" alt="Project image")  
    div(class="image-area full")
      img(src="img-content/photographie/Photo28.jpg" alt="Project image")  
    div(class="image-area full")
      img(src="img-content/photographie/Photo29.jpg" alt="Project image")  
    div(class="image-area full")
      img(src="img-content/photographie/Photo30.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo31.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo33.jpg" alt="Project image")   
    div(class="image-area third")
      img(src="img-content/photographie/Photo34.jpg" alt="Project image")  
    div(class="image-area full")
      img(src="img-content/photographie/Photo32.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo35.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo36.jpg" alt="Project image")   
    div(class="image-area third")
      img(src="img-content/photographie/Photo37.jpg" alt="Project image")    
    div(class="image-area half")
      img(src="img-content/photographie/Photo38.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/photographie/Photo41.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo39.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo40.jpg" alt="Project image")  
    div(class="image-area third")
      img(src="img-content/photographie/Photo42.jpg" alt="Project image")   
