extends components/layout.jade

block content

  div(class="row clearfix")
    div(class="text-area")
      div(class="project-title")
        h4 Graphisme
        h1 Pictogramme

  div(class="row clearfix")
    div(class="text-area")
      h3 Projet réalisé pour La Cambre
      p
        | Réalisation de trois pictogrammes des expressions de la joie, la stristesse et la colère d'une camarade de classe.

  div(class="row clearfix")
    div(class="image-area full")
      img(src="img-content/picto/Picto00.jpg" alt="Project image")
      
  div(class="separator")
  include components/projects.jade
