extends components/layout.jade

block content

  div(class="row clearfix")
    div(class="text-area")
      div(class="project-title")
        h4 Art
        h1 Le Plâtre

  div(class="row clearfix")
    div(class="text-area")
      h3 Projet réalisé pour La Cambre
      p 
        | Concevoir une famille de trois formes en plâtre à partir d’un patron de base en polypropylène (plastique).

  div(class="row clearfix")
    div(class="image-area full")
      img(src="img-content/platre/image00.jpg" alt="Project image")
    div(class="image-area full")
      img(src="img-content/platre/image01.jpg" alt="Project image") 
    div(class="image-area full")
      img(src="img-content/platre/image02.jpg" alt="Project image")   

  div(class="row clearfix")
    div(class="text-area")
      p 
        | Confronter le plâtre et le polypropylène et leurs propriétés physiques en une série d’objets identiques dans leurs caractéristiques communes formelles.
        br
        | Ici, la souplesse du plastique permet au plâtre de former, en coulant, ces courbes à des endroits choisis. Les faces strictes et droites soutiennent elles les parois bombées.
      
  div(class="separator")
  include components/projects.jade
