extends components/layout.jade

block content

  div(class="row clearfix")
    div(class="text-area")
      div(class="project-title")
        h4 Design produit
        h1 Le Trotem

  div(class="row clearfix")
    div(class="text-area")
      h3 Projet réalisé pour La Cambre
      p 
        | Le Trotem est un packaging de transport pour trois oeufs réalisé dans le cadre du concours d'entrée de La Cambre.
      h3 Contraintes
      p 
        | • Utilisation d'une à deux feuilles formats A3 maximum.
        br
        | • Collage, ficelage, poinçons et autres attaches non autorisé.


  div(class="row clearfix")
    div(class="image-area half")
      img(src="img-content/trotem/image02.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/trotem/image03.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/trotem/image04.jpg" alt="Project image")
    div(class="image-area half")
      img(src="img-content/trotem/image05.jpg" alt="Project image")

  div(class="row clearfix")
    div(class="text-area")
      p 
        | Quelques coups de ciseaux ont permis de transformer une simple feuille A3 de 180gr en un packaging efficace pour ces trois oeufs.
      
  div(class="separator")
  include components/projects.jade
