/* - - - - CUSTOM - - - - */


/* VARIABLES */

color-main = #29abe2
color-hover = color-main - 10%
color-light = color-main + 80%

color-very-dark = #222
color-dark = #333


/* APPLICATION */


body

	color 				color-dark


.menu

	background  		color-very-dark


.heading

	background 			color-dark


.alert

	color 				color-main
	background  		color-light


button
a.btn

	background-color   	color-main


button:hover
a.btn:hover

	background-color   color-hover


.menu a.btn:hover
.menu a.btn.selected

	background-color 	color-dark
