/* - - - SET UP - - - */


html

	height 							100%

body

	font-family 				'Questrial', sans-serif


*

	margin              0
	padding             0
	text-decoration    	none
	outline             none
	border              none
	-webkit-box-sizing  border-box
	-moz-box-sizing     border-box
	box-sizing          border-box

li
	list-style 					none

img
	display 						block

a
	color 							inherit
	cursor 							pointer

.link
	border-bottom 			1px solid transparent !important

.link:hover
	border-bottom 			1px solid #000 !important

.clearfix
	clear              	both

.clearfix:before,
.clearfix:after
	content 						" "
	display	 						table

.clearfix:after
	clear 							both








/* - - - - GLOBAL ERGONOMY - - - - */


/* Structure */

.header

	width								100%
	padding 						20px 0 20px 0
	border-bottom				1px solid rgba(0,0,0,0.2)
	background					rgba(255,255,255,0.9)
	position 						fixed
	top									0
	z-index 						15


.container
.header .row

	width								640px
	margin 							auto

.container

	margin-top 					120px
	margin-bottom:  		80px

.row
.logo
li

	padding 						10px

.logo
#navigation

	width 							50%
	float 							left

li

	float								right

.text-area

	padding 						5px




/* Project glimpse */

.project-glimpse

	width 							50%
	height							auto
	min-height					180px
	float  							left
	padding  						10px
	position 						relative

.project-glimpse .thumbnail

	width 							100%
	height 							auto
	position 						relative

.project-glimpse .overlay

	width 							calc(100% - 20px)
	height 							calc(100% - 20px)
	background 					rgba(0,0,0,0.4)
	padding 						20px
	border 							1px solid #000
	position						absolute
	top 								10px
	left 								10px
	-webkit-transition	background 1s

.project-glimpse .overlay:hover

	background 					rgba(0,0,0,0.6)

.project-glimpse .description

	width 							calc(100% - 40px)
	height 							auto
	position 						absolute
	bottom							20px
	left 								20px

.project-glimpse h1

	color 							#FFF !important

.project-glimpse h4

	color 							rgba(255,255,255,0.6) !important




/* Project page */

.project-title
	padding  						5px

.project-title h4
	color 							rgba(0,0,0,0.6)

img
	border 							1px solid rgba(0,0,0,0.2)

.image-area
	padding 						10px

.horizontal
	width 							100%

.vertical
	width 							50%
	float								left

.image-area img
	width 							100%







/* - - - - TYPO - - - - */


h1, h2, h3, h4, p, li

	line-height 				20px
	text-align 					left

h1, .logo

	font-size 					20px

h3

	font-size 					16px
	padding:  					5px

h4

	font-size 					14px

h5

	font-size 					12px
	color 							rgba(0, 0, 0, 0.5)
	padding-top 				10px

p

	font-size 					14px
	padding:  					5px

li

	font-size 					16px
