@media screen and (max-width: 640px) {
  .header{
    padding:0;
  }
  .container,
  .header .row {
  	width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .project-glimpse{
    width: 100%;
  }
  .logo, #navigation {
    width: 100%;
  }
  .vertical{
    width: 100%;
  }
}
