div(class="header")
  div(class="row clearfix")
    a(href="index.html" title="Index" class="logo") Antoine Breton
    ul(id="navigation")
      li
        a(href="contact.html" title="Contact" class="link") Contact
      li
        a(href="#" title="Curriculum" class="link") Curriculum
      li
        a(href="index.html" title="Projets" class="link") Projets
