doctype html
html(lang="fr")
  head
    title Antoine Breton
    meta(charset="utf-8")
    meta(name="language" content="fr")
    meta(name="author" content="Antoine Breton")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style/reset.css")
    link(rel="stylesheet" href="style/main.css")
    link(rel="stylesheet" href="style/custom.css")
    link(rel="stylesheet" href="style/responsive.css")
    link(href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet")

  body(class="clearfix")
    include ./header.jade
    
    div(class="container")
      block content
