// PROJECT glimpse
div(class="row clearfix")

  div(class="text-area")
    h3 Mes projets

  // Lamp One
  div(class="project-glimpse")
    img(src="img-content/lampone/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="lampone.html" class="overlay")
      div(class="description")
        h4 Design Produit
        h1 Lamp One
        
  // Masque
  div(class="project-glimpse")
    img(src="img-content/masque/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="masque.html" class="overlay")
      div(class="description")
        h4 Design Produit
        h1 Masque
        
  // Lamp One
  div(class="project-glimpse")
    img(src="img-content/photographie/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="photographie.html" class="overlay")
      div(class="description")
        h4 Art
        h1 Photographie
        
  // Masque
  div(class="project-glimpse")
    img(src="img-content/masque/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="#" class="overlay")
      div(class="description")
        h4 Design Produit
        h1 Masque
        
  // Lamp One
  div(class="project-glimpse")
    img(src="img-content/lampone/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="#" class="overlay")
      div(class="description")
        h4 Design Produit
        h1 Lamp One
        
  // Masque
  div(class="project-glimpse")
    img(src="img-content/masque/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="#" class="overlay")
      div(class="description")
        h4 Design Produit
        h1 Masque
