// PROJECT glimpse
div(class="row clearfix")

  div(class="text-area")
    h3 Projets

  // Lamp One
  div(class="project-glimpse")
    img(src="img-content/lampone/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="lampone.html" class="overlay")
      div(class="description")
        h4 Design Produit
        h1 Lamp One
        
  // Masque
  div(class="project-glimpse")
    img(src="img-content/masque/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="masque.html" class="overlay")
      div(class="description")
        h4 Design Produit
        h1 Masque
        
  // Photographie
  div(class="project-glimpse")
    img(src="img-content/photographie/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="photographie.html" class="overlay")
      div(class="description")
        h4 Art
        h1 Photographie
        
  // Modèle Vivant
  div(class="project-glimpse")
    img(src="img-content/modelevivant/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="modelevivant.html" class="overlay")
      div(class="description")
        h4 Art
        h1 Modèle Vivant
        
  // Dessin Technique
  div(class="project-glimpse")
    img(src="img-content/dessintechnique/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="dessintechnique.html" class="overlay")
      div(class="description")
        h4 Art
        h1 Dessin technique
        
  // La Traise
  div(class="project-glimpse")
    img(src="img-content/latraise/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="latraise.html" class="overlay")
      div(class="description")
        h4 Design Produit
        h1 La Traise
        
  // Graphisme
  div(class="project-glimpse")
    img(src="img-content/cartographie/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="cartographie.html" class="overlay")
      div(class="description")
        h4 Graphisme
        h1 Cartographie
        
  // Graphisme
  div(class="project-glimpse")
    img(src="img-content/dour/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="festivaldour.html" class="overlay")
      div(class="description")
        h4 Graphisme
        h1 Festival Dour
        
  // Graphisme
  div(class="project-glimpse")
    img(src="img-content/picto/glimpse.jpg" alt="Project glimpse" class="thumbnail")
    a(href="pictogramme.html" class="overlay")
      div(class="description")
        h4 Graphisme
        h1 Pictogramme
